<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="Post" method="post">
  FirstText:<input type="hidden" value="" name="text1"><br>
  SecondText:<input type="text" name="text2"><br>
  <input type="submit" value="add">
</form>
<select name="el">
  <div th:each="el : ${notes}">
    <option th:value="${el.getId()}">  <p th:text="${el.getTable_name()}"/>
  </div>
  </option>
</select>
</body>
</html>